body {
    background: white;
}

/* a {
    display: block;
    text-decoration: none;
} */






/* .single-photo .grid-figure {
    box-shadow: none;
    margin: 0 2rem 0 0;
    border: 0;
    padding: 0;
    flex: 1 0 60%;
    max-width: 60%;
}

.single-photo .comments {
    flex: 1 0 40%;
    max-width: 40%;
}

.single-photo .grid-photo {
    width: 100%;
    margin: 0;
} */